<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sign Up Form</title>
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="modules/users/client/css/newcss.css">
        <link href='https://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body>

      <form action="index.html" method="post">
      
        <fieldset>
          <legend><span class="number">1</span>Your basic info</legend>
          <label for="name">Name:</label>
          <input ng-model='user_name' type="text" id="name" name="user_name">
          
          <label for="mail">Email:</label>
          <input ng-model='user_email' type="email" id="mail" name="user_email">

            <label for="mail">Phone #::</label>
          <input ng-model='user_phone'  type= "text" id="mail" name="user_phone">

        </fieldset>
        
        <fieldset>
          <legend><span class="number">2</span>Your profile</legend>
          <label for="bio">About you:</label>
          <textarea id="bio" name="user_bio"></textarea>
        </fieldset>
        <fieldset>
  
          <label>Interests:</label>
          <input type="checkbox" id="development" value="interest_development" name="user_interest"><label class="light" for="development">Development</label><br>
            <input type="checkbox" id="design" value="interest_design" name="user_interest"><label class="light" for="design">Design</label><br>
          <input type="checkbox" id="business" value="interest_business" name="user_interest"><label class="light" for="business">Business</label>
        
        </fieldset>

      <fieldset>
          <legend><span class="number">3</span>Your vehicle</legend>
          <label for="bio">About you:</label>
          <label for="name">Model:</label>
          <input ng-model = 'vehicle_model' type="text" id="name" name="user_name">
          <label ng-model = 'vehicle_model' for="name">Make:</label>
          <input type="text" id="name" name="user_name">


        </fieldset>
        <fieldset>
  


        <button type="submit">Update</button>
      </form>
      
    </body>
</html>