<html>
<title>Admin Dashboard</title>
<meta charset="UTF-8">

<!---
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>
<div class="w3-main"  style="margin-left:250px">
  <div class="w3-row w3-padding-64">
    <div class="w3-twothird w3-container">
      <h1 class="w3-text-teal">Welcome, </h1>
      <p>Here are your to-do's:</p>
      <button ng-click = "getAllStudent()">Test Button</button>
    </div>
  </div>
-->

<body>



<form ng-controller="RidesController" data-ng-init='listRides()'>
  <div class="form-group">
    <label>Departure</label>
    <input class="form-control" ng-model = "departure">
  </div>
  <div class="form-group">
    <label >Arrival</label>
    <input class="form-control" ng-model = "arrival">
  </div>
  <div class="form-group">
    <label>Date</label>
    <input class="form-control" ng-model = "date">
  </div>
   <div class="form-group">
    <label >Price</label>
    <input class="form-control" ng-model = "price">
  </div>


  <div class="form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Roundtrip</label>
  </div>

  <button type="submit" class="btn btn-primary" ng-click = 'saveRide()'>Post Ride!</button>
</form>

  </div>


  <script src="js/jquery.js"></script>
  <script src="js/bootstrap.min.js"></script>

</body>
