<html>
    <head>
        <title>Post a Ride!</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
        <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
        <link href='custom.css' rel='stylesheet' type='text/css'>
    </head>
    <body>

        <div class="container">

            <div class="row">

                <div class="col-lg-8 col-lg-offset-2">

                    <h1>Post a Ride!</a></h1>




                    <form id="contact-form" role="form" ng-controller="RidesController">

                        <div class="messages"></div>

                        <div class="controls">

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="form_name">Departure <span class="glyphicon glyphicon-road"></span></label>
                                        <input id="form_name" type="text" name="name" class="form-control" placeholder="Departing from...*" required="required" data-error="Departure is required." ng-model="departure">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="form_lastname">Arrival <span class="glyphicon glyphicon-home"></span></label>
                                        <input id="form_lastname" type="text" name="surname" class="form-control" placeholder="Traveling to...*" required="required" data-error="Arrival is required." ng-model="arrival">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">


                                  <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="form_phone">Date <span class="glyphicon glyphicon-calendar"></span></label>
                                        <input id="form_phone" type="date" name="date" class="form-control" placeholder="mm-dd-yyyy" ng-model="date">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>


                                 <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="form_phone">Phone <span class="glyphicon glyphicon-phone"></span></label>
                                        <input id="form_phone" type="number" name="phone" class="form-control" placeholder="xxx-xxx-xxxx">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="form_phone">Price <span class="glyphicon glyphicon-usd"></span></label>
                                        <input id="form_phone" type="number" name="phone" class="form-control" placeholder="$" ng-model= "price">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>


                                 <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="form_phone">Spots Available</label>
                                        <input id="form_phone" type="number" name="spots" class="form-control" placeholder="# of spots" ng-model= "spotsAvailable">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>

                                  <div class="col-md-6">
                                <input type="checkbox" id="roundtrip" name="roundtrip" >
                                <label for="roundtrip">Roundtrip</label>

                                <br>

                                <input type="checkbox" id="stop" name="stop" >
                                <label for="stop">Can stop along the way</label>
                                </div>


                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="form_message">Message</label>
                                        <textarea id="form_message" name="message" class="form-control" placeholder="Message*" rows="4" required="required" data-error="Please,leave us a message."></textarea>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <input type="submit" class="btn btn-success btn-send"  align="middle" ng-click = 'saveRide()' ui-sref="home">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <p class="text-muted"><strong>*</strong> These fields are required.</p>
                                </div>
                            </div>
                        </div>

                    </form>

                </div><!-- /.8 -->

            </div> <!-- /.row-->

        </div> <!-- /.container-->

        <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="validator.js"></script>
        <script src="contact.js"></script>
    </body>
</html>
